body
{
  color: white;
  background: darkmagenta;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name_2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 20px;
  letter-spacing: 5px;
}

#webcam
{
    background-color: white;
    color: green;
    border-radius: 10px;
    width: 120px;
    height: 25px;
}

#snapshot
{
    background-color: white;
    color: green;
    border-radius: 10px;
    width: 120px;
    height: 25px;
}

#prediction
{
    background-color: white;
    color: green;
    border-radius: 10px;
    width: 120px;
    height: 25px;
}